<script type="text/javascript">
    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(input) {
        var currentValue = parseInt($(input).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;
        var inputGroup = $(input).closest('.input-group');
        inputGroup.find('.decrement-qty').prop('disabled', minusDisabled);
        inputGroup.find('.increment-qty').prop('disabled', plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        handleEnableDisable(allQtyInputs[i]);
    }

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function() {
        handleEnableDisable(this);
    });

    // Increment quantity
    $('.increment-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue + 1);
         handleEnableDisable(closestInput);
    });
    
    // Decrement quantity
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue - 1);
         handleEnableDisable(closestInput);
    });
</script>